<!DOCTYPE html>
<html>
    <head>
	<f:section name="meta">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes">
		<meta name="author" content="Gerhard Syring-Lingenfelder (www.g-sl.de); Jan Syring-Lingenfelder (www.jan-sl.de)" />
	</f:section>
	<f:section name="stylesheets">
	        <link rel="stylesheet" type="text/css" href="{f:uri.resource(path: 'Styles/Frontpage.css', package: 'GSL.DuttweilerDe')}" />
        	<link rel="shortcut icon" type="image/x-icon" href="{f:uri.resource(path: 'Images/wappen.ico', package: 'GSL.DuttweilerDe')}" />
	</f:section>

	<f:section name="headScripts">
		<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
	</f:section>
    </head>
    <body>
	<f:section name="body">
        <div id="Wrapper">
            <div id="PageHeading">
		<div id="menuButton"><img src="{f:uri.resource(path: 'Images/menu_icon.svg', package: 'GSL.DuttweilerDe')}" height="30" width="30" alt="Menu" /></div>       
                <nav id="IndexPageTopMenu">
			{parts.menu -> f:format.raw()}
                </nav>
            </div>
            <f:if condition="{hasBanner}">
                <div id="FrontpageBanner">
                    {content.banner -> f:format.raw()}
                </div>
            </f:if>
            <div id="PageBody">
                <div id="NewsColumn">
			{content.main -> f:format.raw()}
                </div>
                <div id="RightColumn">
			{content.rightColumn -> f:format.raw()}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
	</f:section>
	<f:section name="bodyScripts">
		<script type="text/javascript">
			resizeHeader();
			$('#IndexPageTopMenu').hide();

			$(document).click(function() {
				$('#IndexPageTopMenu').hide('slide');
			});
			$('#menuButton').click(function(event) {
				$('#IndexPageTopMenu').show('slide');
				event.stopPropagation();
			});

			function resizeHeader() {
			    $('#PageHeading').height(0.25*$('#PageHeading').width());
			};

			var resizeTimer;
			$(window).resize(function() {
			    clearTimeout(resizeTimer);
			    resizeTimer = setTimeout(resizeHeader, 100);
			});
		</script>
	</f:section>
    </body>
