body { font-family: verdana, geneva, arial; font-size: 9pt; background-color: #fff; background-image: url("../Images/back_gn.gif"); background-repeat: repeat-x; line-height: 14pt; }

.clearfix { clear: both; width: 100%; }

a { color: #363; text-decoration: none; }
a:hover { text-decoration: underline; }

#Wrapper { margin: 5px auto; border: 2px solid #363; }
@media screen and (min-width: 820px) {
#Wrapper { width: 800px; }
}

#PageBody { background-color: white; }

.fa { padding-right: 5px; }

.typo3-neos-alignment-right { float: right; margin-left: 2em; margin-bottom: 1em; }
.typo3-neos-alignment-left { float: left; margin-right: 2em; margin-bottom: 1em; }
.typo3-neos-alignment-center { margin: 0 auto !important; width: -moz-fit-content; width: -webkit-fit-content; width: fit-content; }

div.typo3-neos-nodetypes-image figure.typo3-neos-alignment-left { margin: 1em 5px; }
div.typo3-neos-nodetypes-image figure.typo3-neos-alignment-right { margin: 1em 5px; }

/* Table styling */

div.neos-contentcollection table,
div.neos-contentcollection table
{ border-collapse: collapse; }

div.neos-contentcollection table,
div.neos-contentcollection table,
div.neos-contentcollection table th,
div.neos-contentcollection table th,
div.neos-contentcollection table td,
div.neos-contentcollection table td
{ border: 1px solid black; }

div.neos-contentcollection table th,
div.neos-contentcollection table th,
div.neos-contentcollection table td,
div.neos-contentcollection table td
{ padding: 0 10px; text-align: left; }

div.neos-contentcollection table tr:nth-child(even),
div.neos-contentcollection table tr:nth-child(even)
{ background-color: #eee; }

div.neos-contentcollection table th,
div.neos-contentcollection table th 
{ background-color: #363; color: white; }

/* end table styling */

.typo3-neos-nodetypes-twocolumn > div, .typo3-neos-nodetypes-threecolumn > div, .typo3-neos-nodetypes-fourcolumn > div { margin: 0; float: left; }
.typo3-neos-nodetypes-twocolumn:after, .typo3-neos-nodetypes-threecolumn:after, .typo3-neos-nodetypes-fourcolumn:after { content: ""; clear: both; display:table; }
.columns-50-50 > div.column { width: 50%; }
.columns-25-75 > div.column:nth-child(1) { width: 25%; }
.columns-25-75 > div.column:nth-child(2) { width: 75%; }
.columns-75-25 > div.column:nth-child(1) { width: 75%; }
.columns-75-25 > div.column:nth-child(2) { width: 25%; }
.columns-66-33 > div.column:nth-child(1) { width: 66%; }
.columns-66-33 > div.column:nth-child(2) { width: 33%; }
.columns-33-66 > div.column:nth-child(1) { width: 33%; }
.columns-33-66 > div.column:nth-child(2) { width: 66%; }
.columns-33-33-33 > div.column { width: 33%; }
.columns-50-25-25 > div.column:nth-child(1) { width: 50%; }
.columns-50-25-25 > div.column:nth-child(2) { width: 25%; }
.columns-50-25-25 > div.column:nth-child(3) { width: 25%; }
.columns-25-50-25 > div.column:nth-child(1) { width: 25%; }
.columns-25-50-25 > div.column:nth-child(2) { width: 50%; }
.columns-25-50-25 > div.column:nth-child(3) { width: 25%; }
.columns-25-25-50 > div.column:nth-child(1) { width: 25%; }
.columns-25-25-50 > div.column:nth-child(2) { width: 25%; }
.columns-25-25-50 > div.column:nth-child(3) { width: 50%; }
.columns-25-25-25-25 > div.column { width: 25%; }

img { border: 0; max-width: 100%; height: auto; display: inline-block; vertical-align: middle; }

.gsl-duttweilerde-multipleimages figure { float: left; margin: 15px; }

.back-to-top { background: #363; color: white; position: fixed; bottom: 20px; right: 20px; padding: 1em; }


.typo3-neos-nodetypes-text ol.neos-list-decimal { list-style-type: decimal; }
.typo3-neos-nodetypes-text ol.neos-list-decimal-leading-zero { list-style-type: decimal-leading-zero; }
.typo3-neos-nodetypes-text ol.neos-list-lower-roman { list-style-type: lower-roman; }
.typo3-neos-nodetypes-text ol.neos-list-upper-roman { list-style-type: upper-roman; }
.typo3-neos-nodetypes-text ol.neos-list-lower-greek { list-style-type: lower-greek; }
.typo3-neos-nodetypes-text ol.neos-list-lower-latin { list-style-type: lower-latin; }
.typo3-neos-nodetypes-text ol.neos-list-upper-latin { list-style-type: upper-latin; }

.typo3-neos-nodetypes-text ul.neos-list-disc { list-style-type: disc; }
.typo3-neos-nodetypes-text ul.neos-list-circle { list-style-type: circle; }
.typo3-neos-nodetypes-text ul.neos-list-square { list-style-type: square; }