#PageHeading { border-top: 1px solid #363; height: 200px; background-image: url("../Images/b-logo05.jpg"); background-position: right; position: relative; }

#RelatedPagesTopMenu { background-color: white; display: inline-block; height: 20px; }
#RelatedPagesMenu { background-color: #F0F0F0; font-size: 8pt; position: absolute; left: 0; bottom: 0; display: inline-block; height: 20px; }
#RelatedPagesTopMenu ul, #RelatedPagesMenu ul { list-style-type: none; margin: 0; padding: 0; }
#RelatedPagesTopMenu li, #RelatedPagesMenu li { padding: 0px 5px; text-align: center; border-right: 1px solid black; display: inline; }

#PageHeadingContent { height: 100px; position: absolute; top: 59px; color: #363; padding-left: 20px; float: left; }
#PageArticleDate { font-size: 14pt; line-height: 20pt; }
#PageArticleHeading { margin-top: 5px; font-size: 20pt; font-weight: bold; }
#PageHeadingCustomImage { margin-right: 25px; margin-top: 65px; float: right; }
#PageHeadingImprintLink { display: inline-block; background-color: #eee; font-size: 8pt; position: absolute; right: 0; bottom: 0; padding: 0 2px; height: 20px; }

#PageBody article { padding: 20px; font-size: 10pt; }
#PageBody article header.underline { color: #363; width: 100%; border-bottom: 1px solid black; font-size: 14pt; padding-bottom: 5px; margin: 5px 0 10px 0; }
#PageBody article header.boxed { color: white; width: 100%; background-color: #363; padding: 0; font-size: 12pt; font-weight: bold; }

#ArticlePressespiegel { margin-top: 30px; }
#ArticlePressespiegelHeading { background-color: #363; color: #fff; font-weight: bold; font-size: 12pt; margin-bottom: 10px; }

.ArticlePressespiegelItemIcon { width: 10px; height: 10px; background-color: #363; display: inline-block; margin: 0 5px; }
.ArticlePressespiegelItem { margin: 5px 0; color: black; }
.ArticlePressespiegelItemInner { background-color: #eee; border-bottom: 1px solid black; border-right: 1px solid black; display: inline-block; }
.ArticlePressespiegelItemInner { width: 90%; /* fallback */ width: calc(100% - 40px); }
.ArticlePressespiegelItemTitle { font-weight: bold; }
.ArticlePressespiegelItemDate { font-size: 8pt; float: right; }
.ArticlePressespiegelItemLink { margin-left: 25px; }

.EventListItem { margin: 10px 0; }
.EventListItemTitle { font-weight: bold; font-size: 11pt; }
.EventListItemDateContainer { width: 80px; height: 80px; text-align: center; float: left; margin-right: 20px; }
.EventListItemDayName { background-color: #363; color: #fff; height: 20px; border: 1px solid #363; border-radius: 10px 10px 0 0; }
.EventListItemDayNumber { font-size: 50px; line-height: 50px; height: 60px; border: 1px solid #000; border-radius: 0 0 10px 10px; }

nav.typo3-neos-nodetypes-menu li,
nav.gsl-duttweilerde-content-abiszmenu li { list-style-type: none; position: relative; min-height: 20px; }
nav.typo3-neos-nodetypes-menu li::before,
nav.gsl-duttweilerde-content-abiszmenu li::before { content: ''; position: absolute; width: 10px; height: 10px; background-color: #363; margin: 5px 0 0 -20px; }
