{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace media=TYPO3\Media\ViewHelpers}
<article class="FrontpageNewsItem">
    <header>{headline}</header>
    <div class="NewsItemDate">{date -> f:format.date(localeFormatType: 'date', forceLocale: 'de_DE', localeFormatLength: 'long')}</div>
    <div class="NewsItemBody NewsItemTTResult">
        {source -> f:format.raw()}
        <div class="clearfix"></div>
    </div>
    <a href="//www.vfl-duttweiler.de/vfl-tt.htm">mehr zu VfL Tischtennis</a>
</article>