{namespace neos=TYPO3\Neos\ViewHelpers}
<div class="ArticlePressespiegelItem">
    <div class="ArticlePressespiegelItemIcon"></div>
    <div class="ArticlePressespiegelItemInner">
        <span class="ArticlePressespiegelItemTitle">{title}</span>
        <span class="ArticlePressespiegelItemDate"><f:format.date date="{date}" format="d. F Y" /></span>
    </div>
    <f:if condition="{itemLink} != ''">
        <div class="ArticlePressespiegelItemLink"><neos:link.node node="{itemLink}">{subheading}</neos:link.node></div>
    </f:if>
</div>
