{namespace neos=TYPO3\Neos\ViewHelpers}
<div class="ArticlePressespiegelItem">
    <div class="ArticlePressespiegelItemIcon"></div>
    <div class="ArticlePressespiegelItemInner">
        <span class="ArticlePressespiegelItemTitle">{title}</span>
        <span class="ArticlePressespiegelItemDate">{date -> f:format.date(localeFormatType: 'date', forceLocale: 'de_DE', localeFormatLength: 'long')}</span>
    </div>
    <div class="ArticlePressespiegelItemLink">
    <f:if condition="{chronikLink}">
        <f:then> <neos:link.node node="{itemLink}">{subheading}</neos:link.node> </f:then>
        <f:else>
            <f:if condition="{link}">
                <f:then> <f:link.external uri="{link}">{subheading}</f:link.external> </f:then>
                <f:else>{subheading}</f:else>
            </f:if>
        </f:else>
    </f:if>
    </div>
</div>
