{namespace neos=Neos\Neos\ViewHelpers}
{namespace cr=Neos\ContentRepository\ViewHelpers\Widget}
<f:layout name="BackendModule" />

<f:section name="subtitle">
    <div class="neos-module-container">
        <legend>Auf Facebook teilen</legend>
        Achtung: Nur was in "live" veröffentlich ist, kann auch hier geteilt werden!
    </div>
</f:section>

<f:section name="content">
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/de_DE/sdk.js#xfbml=1&version=v2.9";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<style> .fb-share-button span { vertical-align: middle !important; padding-right: 5px; } </style>
      <cr:paginate parentNode="{node}" as="paginatedItems" nodeTypeFilter="GSL.DuttweilerDe.Pages:ChronikItem">
        <table class="neos-table">
          <thead>
            <tr>
              <th>Titel</th>
              <th>Beschreibung</th>
              <th>og:title<br />og:description</th>
              <th>Datum</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <f:for each="{paginatedItems}" as="item">
              <tr>
                <td>{item.properties.title}</td>
                <td>{item.properties.metaDescription}</td>
                <td>{item.properties.openGraphTitle}<br />{item.properties.openGraphDescription}</th>
                <td>{item.properties.date -> f:format.date(format: 'd.m.Y')}</td>
                <td class="neos-action">
                  <div class="neos-pull-right">
                    <neos:link.node node="{item}" target="_blank" title="Live öffnen" class="neos-button"><i class="icon-external-link"></i></neos:link.node>
                    <div class="fb-share-button" data-href="{neos:uri.node(node: item, absolute: true)}" data-layout="button"></div>
                  </div>
                </td>
              </tr>
            </f:for>
          </tbody>
        </table>
      </cr:paginate>
</f:section>
