{namespace neos=Neos\Neos\ViewHelpers}
<div class="ArticlePressespiegelItem">
    <div class="ArticlePressespiegelItemIcon"></div>
    <div class="ArticlePressespiegelItemInner">
        <span class="ArticlePressespiegelItemTitle">{title}</span>
        <span class="ArticlePressespiegelItemDate">{publication}, {date -> f:format.date(localeFormatType: 'date', forceLocale: 'de_DE')}</span>
    </div>
    <f:if condition="{itemLink} != ''">
        <div class="ArticlePressespiegelItemLink"><neos:link.node node="{itemLink}" /></div>
    </f:if>
</div>
