{namespace neos=Neos\Neos\ViewHelpers}
<div class="ArticlePressespiegelItem">
    <div class="ArticlePressespiegelItemIcon"></div>
    <div class="ArticlePressespiegelItemInner">
        <span class="ArticlePressespiegelItemTitle">{title}</span>
        <span class="ArticlePressespiegelItemDate">{date -> f:format.date(localeFormatType: 'date', forceLocale: 'de_DE', localeFormatLength: 'long')}</span>
    </div>
    <div class="ArticlePressespiegelItemLink">
    
    <f:if condition="{link}">
        <f:then>
            <f:if condition="{linkType} == 'node'"><neos:link.node node="{link}">{subheading}</neos:link.node></f:if>
            <f:if condition="{linkType} == 'uri'"><f:link.external uri="{link}" defaultScheme="">{subheading -> f:format.nl2br()}</f:link.external></f:if>
        </f:then>
        <f:else>
            {subheading -> f:format.nl2br()}
        </f:else>
    </f:if>
    </div>
</div>
